/* Configurações Gerais */
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

h2 {
    text-align: center;
    padding: 30px;
    font-size: 2.6rem;
}

h3{
    text-align: center;
    margin: 30px 0;
    font-size: 2.2rem;
}

h4{
    text-align: center;
    margin: 15px 0;
    font-size: 1.6rem;
}
h5 {
    font-size: 1.4rem;
}
p {
    font-size: 1.2rem;
    color: white;
}

/* Cabeçalho */
header {
    background: #fdd20d;
}


#header {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
#header img {
    padding: 0 20px;
}

/* Menu */
#header ul {
    display: flex;
    list-style: none;
    margin: 0;
}

#header ul li {
    margin: 0 0.8rem;
}

#header ul li a {
    width: 100%;
    line-height: 35px;
    font-size: 1.2rem;
    color: black;
    border-bottom: 5px solid transparent;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

#header ul li a:hover {
    color: white;
    border-bottom: 5px solid white;

}

/* Configurações de corpo */

section {
    max-width: 100%;
    margin: 0 auto;
}

/* A venator */

#a-venator {
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(000,000,000,1)) ,url(../image/sobre-as-cervejas-cervejaria-venator.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 120px;
}

#a-venator #texto-sobre {
    padding: 20px;
    color: white;
}

#a-venator #texto-sobre h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8rem;
}

#a-venator #imagem-sobre {
    margin: 20px;
}

#a-venator img {
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
}

/* As Cervejas */

#as-cervejas {
    border-top: 1px solid rgba(153, 145, 145, 0.5);
}
#as-cervejas h2 {
    background:  url(../image/lupulo-IPA-Background.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
    grid-area: a;
}

#as-cervejas article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.text-beer {
    margin: 30px 20px;
    width: 100%;
}

.img-beer {
    margin: 30px 20px ;
}

.img-beer img {
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
}

/* Lemonade */

#lemonade {
    border-top: 1px solid #fdd20d;
    flex-direction: row-reverse;
    background: #fdd20d;
    grid-area: l;
}

#lemonade .text-beer h3,
#lemonade .text-beer h4 {
    color: white;
}

/* Peso-Pena */

#peso-pena {
    border-top: 1px solid #f05429;
    background: #d35e3d;
    grid-area: p;
}

#peso-pena .text-beer h3,
#peso-pena .text-beer h4 {
    color: white;
}

/* Kaffeine */

#kaffeine {
    border-top: 1px solid #008944;
    flex-direction: row-reverse;
    background: #137443;
    grid-area: k;
}

#kaffeine .text-beer h3,
#kaffeine .text-beer h4 {
    color: white;
}


/* Contato */
#contato {
    border-top: 1px solid rgba(153, 145, 145, 0.5);
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(000,000,000,1)) ,url(../image/sobre-as-cervejas-cervejaria-venator.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp p {
    width: 50%;
    padding: 20px;
}

#whatsapp .button {
    width: 230px;
    height: 80px;
    background: #25D366;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-decoration: none;
    transition: background 0.2s;
}
#whatsapp img {
    width: 40px;
}

#whatsapp .button:hover {
    background: #04BF58;
}

#redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes-sociais a {
    padding: 40px 30px;
}

#redes-sociais img {
    width: 50px;
}

/* Rodapé */

footer {
    background: #fdd20d;
    color: white;
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

@media (max-width: 710px) {
    #header {
        flex-direction: column;
    }
    #header ul {
        flex-direction: column;
    }
    #header ul li {
        margin: 5px;
    }
    #header ul li a {
        width: 200px;
    }
    #a-venator {
        display: block;
        padding: 20px;
    }
    #as-cervejas article {
        display: block;
        padding: 20px;
    }
    #as-cervejas .text-beer {
        margin: 0;
    }

    #as-cervejas h2 {
        font-size: 2.6rem;
    }
    #as-cervejas .text-beer h3 {
        font-size: 1.8rem;
    }
    #as-cervejas .text-beer h4 {
        font-size: 1.4rem;
    }
    #whatsapp {
        flex-direction: column;
    }
    #whatsapp p {
        width: 80%;
    }
    p {
        text-align: center;
    }

}
@media(min-width: 1450px) {
    #header ul li a {
        width: 250px;
        line-height: 55px;
        font-size: 1.6rem;
    }
    #as-cervejas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 7fr;
        grid-template-areas: 
        "a a a"
        "l p k"
        ;
    }
    #as-cervejas article {
        flex-direction: column;
    }
    .text-beer {
        width: 90%;
    }
    p {
        font-size: 1.6rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.8rem;
        align-self: center;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.6rem;
    }
}